@model AppLogModel
@{
    Model.Header.Title = "Detail";
    Layout = "~/Views/Shared/_Admin.cshtml";
    Model.Header.PopupPage = true;
}
<table class="table table-bordered table-striped detail-table">
    <tbody>
        <tr>
            <td style="width:115px">
                <strong>
                    @ResMan.GetString("ID")
                </strong>
            </td>
            <td>
                @Model.Id
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_Level")
                </strong>
            </td>
            <td>
                @Model.Level
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_Message")
                </strong>
            </td>
            <td>
                @Model.Message
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_Location")
                </strong>
            </td>
            <td>
                @Model.Location
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_AppDomain")
                </strong>
            </td>
            <td>
                @Model.AppDomain
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_LoggerName")
                </strong>
            </td>
            <td>
                @Model.LoggerName
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_MachineName")
                </strong>
            </td>
            <td>
                @Model.MachineName
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_ClientIP")
                </strong>
            </td>
            <td>
                @Model.ClientIP
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_CreatedBy")
                </strong>
            </td>
            <td>
                @Model.CreatedBy
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                    @ResMan.GetString("AppLog_CreatedOn")
                </strong>
            </td>
            <td>
                <span class="datetime-field">@Model.CreatedOn</span>
            </td>
        </tr>
    </tbody>
</table>