@model ForgotPasswordModel
@{
    Model.Header.Title = ResMan.GetString("ForgotPassword_Title");
    Layout = "~/Views/Shared/_Public.cshtml";
}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

@using (Html.BeginForm("ForgotPassword", "Identity"))
{
    @Html.AntiForgeryToken()

    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control", @placeholder = @ResMan.GetString("Login_EmailOrUsername") })
        <span class="fa fa-user form-control-feedback"></span>
        @Html.ValidationMessageFor(m => m.UserNameOrEmail)
    </div>
    <div class="row">
        <div class="g-recaptcha" data-sitekey="@Model.CaptchaPublicKey">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">@ResMan.GetString("Submit")</button>
        </div>
    </div>
}
<a style="margin-top:20px;float:left;" href="Login">@ResMan.GetString("Login_Login")</a><br>