@model ForgotPasswordModel
@{
    ViewBag.Title = Resources.ForgotPassword_Title;
    Layout = "~/Views/Shared/_Root.cshtml";
}
<div class="col-md-6">
    @Html.ValidationSummary(true)
    @using (Html.BeginForm("ForgotPassword", "Identity"))
    {
        <h2>@Resources.ForgotPassword_Title</h2>
        if (Model.Result == ASActionResult.Info)
        {
            <div class="callout callout-info">
                <p>@Resources.ForgotPassword_Success</p>
            </div>
        }
        else
        {
            <div class="form-group">
                @Html.LabelFor(m => m.UserNameOrEmail, new { @class = "sr-only" })
                @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control", @placeholder = @Resources.Login_EmailOrUsername })
                @Html.ValidationMessageFor(m => m.UserNameOrEmail)
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">@Resources.Submit</button>
        }
        <a style="float:right;margin-top:10px;margin-bottom:10px;font-size:20px;" href="Login">@Resources.Login_Title</a>
    }
    <div style="margin-top:40px">
        <table>
            <tr>
                <td>
                    Demo Username : admin
                </td>
            </tr>
            <tr>
                <td>
                    Demo Password : 123456
                </td>
            </tr>
            <tr>
                <td>
                    Demo e-mail : nazmi1988@yahoo.com.tr
                </td>
            </tr>
        </table>
    </div>
</div>
