@model ResetPasswordModel
@{
    Layout = "~/Views/Shared/_Public.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Identity"))
{
    @Html.AntiForgeryToken()
    <h2>@ResMan.GetString("ResetPassword_Title")</h2>

    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @placeholder = @ResMan.GetString("ResetPassword_NewPassword") })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>
    <div class="form-group has-feedback">
        @Html.PasswordFor(m => m.NewPasswordRepeat, new { @class = "form-control", @placeholder = @ResMan.GetString("ResetPassword_NewPasswordRe") })
        @Html.ValidationMessageFor(m => m.NewPasswordRepeat)
    </div>
    @Html.HiddenFor(m => m.Token)
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-primary btn-block btn-flat">@ResMan.GetString("Submit")</button>
        </div>
    </div>
}