@model ResetUserPasswordModel

@using (Html.BeginForm("ResetPassword", "Users"))
{
    if (Model.Success)
    {
        @Html.Partial("_MessageBox", new MessageModel(MessageType.Success, MessageElementType.CallOut, ResMan.GetString("ResetPasswordAdmin_Successful")))
    }
    @Html.HiddenFor(m => m.UserName)
    @Html.FormLineEditorFor(m => m.NewPassword)
    @Html.FormLineEditorFor(m => m.NewPasswordRepeat)
    <div class="form-group">
        <div class="col-sm-2"></div>
        <div class="col-sm-10 form-button-wrapper">
            <button type="button" id="resetPasswordBtn"
                    onclick="return false;"
                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> @ResMan.GetString("ResetPassword_Resetting")"
                    class="btn btn-info btn-block btn-flat">
                @ResMan.GetString("ResetPassword_ResetPassword")
            </button>
        </div>
    </div>
}
<script>
    $("#resetPasswordBtn").click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResetPassword", "Users")',
            data: $('form').serialize(),
            success: function (result) {
                $("#resetPassword").html(result);
            }
        });
    });
</script>